<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    <%- include('include/_searchBar') %>
    <!-- front page -->
    <main id="site-main">
        <div class="heading">
            <div class="d-flex justify-between">
                <a href="/add-anime" class="addlog">
                    <span class="text-gradient">Add Anime</span>
                </a>
            </div>

            <!--form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Anime ID</th>
                            <th>Name</th>
                            <th>Genre</th>
                            <th>Type</th>
                            <th>Episodes</th>
                            <th>Rating</th>
                            <th>Members</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ul>
                        
                            <% animes.forEach(anime=>{ %>
                            <tr>    
                                <td>
                                    <%= anime.Anime_ID %>
                                </td>
                                <td>
                                    <%= anime.Name %>
                                </td>
                                <td>
                                    <%= anime.Genre %>
                                </td>
                                <td>
                                    <%= anime.Type %>
                                </td>
                                <td>
                                    <%= anime.Episodes %>
                                </td>
                                <td>
                                    <%= anime.Rating %>
                                </td>
                                <td>
                                    <%= anime.Members %>
                                </td>
                                <td>
                                    <a href="/update-anime/<%= anime.id%>" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt">Edit</i></span>
                                    </a>
                                    <a href="/home/delete/<%= anime.id%>" class="btn border-shadow delete">
                                        <span class="text-gradient"><i class="fas fa-times">Delete</i></span>
                                    </a>
                                </td>
                            </tr>    
                            <% }); %>
                        
                        
                        </ul>

                        <br>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <!-- /front page -->


    

<!-- include footer -->
    <%- include('include/_footer') %>
<!-- /include footer -->