<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- front page -->
    <main id="site-main">
        <div class="heading">
            <div class="d-flex justify-between">
                <div class="filter">
                    <a href="/">All Animes</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text">Edit Anime</h2>
                <span class="text">Edit an anime by filling in the form</span>
            </div>

            <!--form handling -->
            <form method="POST" action="/update-anime/:id" id="update_anime">
                <div class="new_anime">
                    <div class="form-group">
                        <label for="ID" class="text">Anime ID</label>
                        <input type="text" name="animeid" value="<%= anime.Anime_ID %>">
                    </div>
                    <div class="form-group">
                        <label for="Name" class="text">Anime Name</label>
                        <input type="text" name="Name" value=" <%= anime.Name %>">
                    </div>
                    <div class="form-group">
                        <label for="Genre" class="text">Genre</label>
                        <input type="text" name="Genre" value="<%= anime.Genre %>">
                    </div>
                    <div class="form-group">
                        <label for="Type" class="text">Type</label>
                        <input type="text" name="Type" value="<%= anime.Type %>">
                    </div>
                    <div class="form-group">
                        <label for="Episodes" class="text">Episodes</label>
                        <input type="text" name="Episodes" value="<%= anime.Episodes %>">
                    </div>
                    <div class="form-group">
                        <label for="Rating" class="text">Rating</label>
                        <input type="text" name="Rating" value="<%= anime.Rating %>">
                    </div>
                    <div class="form-group">
                        <label for="Members" class="text">Members</label>
                        <input type="text" name="Members" value=" <%= anime.Members %>">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="submit">
                    </div>

                </div>
            </form>


        </div>
    </main>
    <!-- /front page -->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->