<tr>
    <% animes.forEach(anime=>{ %>
        <td>
            <%= anime.Anime_ID %>
        </td>
        <td>
            <%= anime.Name %>
        </td>
        <td>
            <%= anime.Genre %>
        </td>
        <td>
            <%= anime.Type %>
        </td>
        <td>
            <%= anime.Episodes %>
        </td>
        <td>
            <%= anime.Rating %>
        </td>
        <td>
            <%= anime.Members %>
        </td>
        <td>
            <a href="/update-anime/<%= anime.id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt">Edit</i></span>
            </a>
            <a href="/home/delete/<%= anime.id%>" class="btn border-shadow delete">
                <span class="text-gradient"><i class="fas fa-times">Delete</i></span>
            </a>
        </td>
        <% }); %>

</tr>
<br>